

  <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">


          <!--Profile-->
          <div class="container-fluid">

            <!--Attendee Profile Area-->

            <div class="row">
              <div class="col-lg-12">
                <div class="card mt-3">

                  <div class="card-body">






                    <div class="row invoice-card-row">
                      <div class="col-xl-3 col-xxl-3 col-sm-6">
                        <div class="card bg-warning invoice-card">

                          <!-- <img src="../../assets/images/profile/1.jpg" alt=""> -->
                        </div>
                      </div>
                      <div class="col-xl-3 col-xxl-3 col-sm-6">
                        <div class="row">
                          <div class="profile-personal-info">
                            <h3 class="text-primary mb-4">Waseem Sattar</h3>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Email</span>
                            </div>
                            <h5 class="f-w-500">waseem@evento.ae
                            </h5>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Emirates ID</span>
                            </div>
                            <h5 class="f-w-500">33102698-46664-7899
                            </h5>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Nationality</span>
                            </div>
                            <h5 class="f-w-500">United Arab Emirates
                            </h5>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Date of Birth</span>
                            </div>
                            <h5 class="f-w-500">25-09-1993 (25 Years)
                            </h5>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Gender</span>
                            </div>
                            <h5 class="f-w-500">Male
                            </h5>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-3 col-xxl-3 col-sm-6">
                        <div class="row">
                          <div class="profile-personal-info">
                            <h3 class="text-primary mb-4">Waseem Sattar</h3>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Email</span>
                            </div>
                            <h5 class="f-w-500">waseem@evento.ae
                            </h5>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Emirates ID</span>
                            </div>
                            <h5 class="f-w-500">33102698-46664-7899
                            </h5>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Nationality</span>
                            </div>
                            <h5 class="f-w-500">United Arab Emirates
                            </h5>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Date of Birth</span>
                            </div>
                            <h5 class="f-w-500">25-09-1993 (25 Years)
                            </h5>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Gender</span>
                            </div>
                            <h5 class="f-w-500">Male
                            </h5>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-3 col-xxl-3 col-sm-6">
                        <div class="row">
                          <div class="profile-personal-info">
                            <h3 class="text-primary mb-4">Waseem Sattar</h3>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Email</span>
                            </div>
                            <h5 class="f-w-500">waseem@evento.ae
                            </h5>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Emirates ID</span>
                            </div>
                            <h5 class="f-w-500">33102698-46664-7899
                            </h5>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Nationality</span>
                            </div>
                            <h5 class="f-w-500">United Arab Emirates
                            </h5>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Date of Birth</span>
                            </div>
                            <h5 class="f-w-500">25-09-1993 (25 Years)
                            </h5>
                          </div>
                          <div class="row mb-2">
                            <div class="col-sm-9 col-7"><span>Gender</span>
                            </div>
                            <h5 class="f-w-500">Male
                            </h5>
                          </div>
                        </div>
                      </div>
                    </div>


                    <!--Profile Detail Accordion-->
                    <div class="accordion accordion-header-shadow accordion-primary accordion-rounded" id="accordion-one">
                      <div class="accordion-item">
                        <div class="accordion-header  rounded-lg" id="headingOne" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-controls="collapseOne" aria-expanded="true" role="button">
                          <span class="accordion-header-icon"></span>
                          <span class="accordion-header-text">Attendee Details </span>
                          <span class="accordion-header-indicator"></span>
                        </div>
                        <div id="collapseOne" class="collapse accordion__body show" aria-labelledby="headingOne"
                          data-bs-parent="#accordion-one">
                          <div class="accordion-body-text">
                            <div class="row">
                              <div class="col-md-10 mb-3">
                                <label for="firstName" class="form-label">Full Name</label>
                                <h5 class="f-w-500">Waseem Sattar
                                </h5>
                              </div>
                              <div class="col-md-2 mb-3">
                                <button type="button" class="btn btn-xs btn-primary float-end"><i class="fa fa-edit"></i>
                                  Change</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-10 mb-3">
                                <label for="lastName" class="form-label">Email</label>
                                <h5 class="f-w-500">waseem@evento.ae
                                </h5>
                              </div>
                              <div class="col-md-2 mb-3">
                                <button type="button" class="btn btn-xs btn-primary float-end"><i class="fa fa-edit"></i>
                                  Change</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-10 mb-3">
                                <label for="lastName" class="form-label">Password</label>
                                <h5 class="f-w-500">*********
                                </h5>
                              </div>
                              <div class="col-md-2 mb-3">
                                <button type="button" class="btn btn-xs btn-primary float-end"><i class="fa fa-edit"></i>
                                  Change</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-10 mb-3">
                                <label for="lastName" class="form-label">Phone number</label>
                                <h5 class="f-w-500">+1 000-000-0000
                                </h5>
                              </div>
                              <div class="col-md-2 mb-3">
                                <button type="button" class="btn btn-xs btn-primary float-end"><i class="fa fa-edit"></i>
                                  Change</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-10 mb-3">
                                <label for="lastName" class="form-label">Address</label>
                                <h5 class="f-w-500">St 32 main downtown, Los Angeles, California, USA
                                </h5>
                              </div>
                              <div class="col-md-2 mb-3">
                                <button type="button" class="btn btn-xs btn-primary float-end"><i class="fa fa-edit"></i>
                                  Change</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-10 mb-3">
                                <label for="lastName" class="form-label">Date of birth</label>
                                <h5 class="f-w-500">01-01-1992
                                </h5>
                              </div>
                              <div class="col-md-2 mb-3">
                                <button type="button" class="btn btn-xs btn-primary float-end"><i class="fa fa-edit"></i>
                                  Change</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <div class="accordion-header collapsed rounded-lg" id="headingTwo" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-controls="collapseTwo" role="button" aria-expanded="true">
                          <span class="accordion-header-text">Organization Details</span>
                          <span class="accordion-header-indicator"></span>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-one">
                          <div class="accordion-body-text">
                            <div class="row">
                              <div class="col-md-10 mb-3">
                                <label for="firstName" class="form-label">Company Name</label>
                                <h5 class="f-w-500">Evento Solutions
                                </h5>
                              </div>
                              <div class="col-md-2 mb-3">
                                <button type="button" class="btn btn-xs btn-primary float-end"><i class="fa fa-edit"></i>
                                  Change</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-10 mb-3">
                                <label for="firstName" class="form-label">Country</label>
                                <h5 class="f-w-500">United Arab Emirates
                                </h5>
                              </div>
                              <div class="col-md-2 mb-3 ">
                                <button type="button" class="btn btn-xs btn-primary float-end"><i class="fa fa-edit"></i>
                                  Change</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-10 mb-3">
                                <label for="firstName" class="form-label">Website (Optional)</label>
                                <h5 class="f-w-500">www.evento.ae
                                </h5>
                              </div>
                              <div class="col-md-2 mb-3">
                                <button type="button" class="btn btn-xs btn-primary float-end"><i class="fa fa-edit"></i>
                                  Change</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <div class="accordion-header collapsed rounded-lg" id="headingThree" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree" aria-controls="collapseThree" role="button" aria-expanded="true">
                          <span class="accordion-header-text">Personal Details (Optional)</span>
                          <span class="accordion-header-indicator"></span>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                          data-bs-parent="#accordion-one">
                          <div class="accordion-body-text">


                            <div class="row">
                              <div class="col-md-3 mb-3">
                                <label for="firstName" class="form-label">Title</label>
                                <h5 class="f-w-500">Mr
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">First name</label>
                                <h5 class="f-w-500">Waseem
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Last name</label>
                                <h5 class="f-w-500">Sattar
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Gender</label>
                                <h5 class="f-w-500">Male
                                </h5>
                              </div>
                            </div>


                            <div class="row">
                              <div class="col-md-3 mb-3">
                                <label for="firstName" class="form-label">Nationality</label>
                                <h5 class="f-w-500">United Arab Emirates
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Country</label>
                                <h5 class="f-w-500">United Arab Emirates
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Phone Number</label>
                                <h5 class="f-w-500">93 8964732164
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Email Address</label>
                                <h5 class="f-w-500">waseem@evento.com
                                </h5>
                              </div>
                            </div>







                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <div class="accordion-header collapsed rounded-lg" id="headingFour" data-bs-toggle="collapse"
                          data-bs-target="#collapseFour" aria-controls="collapseFour" role="button" aria-expanded="true">
                          <span class="accordion-header-text">Travel Details</span>
                          <span class="accordion-header-indicator"></span>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordion-one">
                          <div class="accordion-body-text">
                            <div class="row">
                              <div class="col-md-3 mb-3">
                                <label for="firstName" class="form-label">Visa Assistance</label>
                                <h5 class="f-w-500">Yes
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Fligh#</label>
                                <h5 class="f-w-500">PK-888
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Arrival Date</label>
                                <h5 class="f-w-500">mm/dd/yyyy
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Arrival Time</label>
                                <h5 class="f-w-500">08:50 AM
                                </h5>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3 mb-3">
                                <label for="firstName" class="form-label">Arrival Airport</label>
                                <h5 class="f-w-500">Dubai International Airport
                                </h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <div class="accordion-header collapsed rounded-lg" id="headingFive" data-bs-toggle="collapse"
                          data-bs-target="#collapseFive" aria-controls="collapseFive" role="button" aria-expanded="true">
                          <span class="accordion-header-text">Accommodation Details</span>
                          <span class="accordion-header-indicator"></span>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-bs-parent="#accordion-one">
                          <div class="accordion-body-text">
                            <div class="row">
                              <div class="col-md-3 mb-3">
                                <label for="firstName" class="form-label">Hotel Name</label>
                                <h5 class="f-w-500">Yes
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">City Name</label>
                                <h5 class="f-w-500">Dubai
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Stay Duration</label>
                                <h5 class="f-w-500">mm/dd/yyyy
                                </h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <div class="accordion-header collapsed rounded-lg" id="headingSix" data-bs-toggle="collapse"
                          data-bs-target="#collapseSix" aria-controls="collapseSix" role="button" aria-expanded="true">
                          <span class="accordion-header-text">Social Media Accounts(Optional)</span>
                          <span class="accordion-header-indicator"></span>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-bs-parent="#accordion-one">
                          <div class="accordion-body-text">
                            <div class="row">
                              <div class="col-md-3 mb-3">
                                <label for="firstName" class="form-label">Facebook</label>
                                <h5 class="f-w-500">facebook.com/abc
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Twitter</label>
                                <h5 class="f-w-500">twitter.com/abc
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Instagram</label>
                                <h5 class="f-w-500">instagram.com/abc
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Linked in</label>
                                <h5 class="f-w-500">linkedin.com/abc
                                </h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <div class="accordion-header collapsed rounded-lg" id="headingSeven" data-bs-toggle="collapse"
                          data-bs-target="#collapseSeven" aria-controls="collapseSeven" role="button" aria-expanded="true">
                          <span class="accordion-header-text">Questionnaire</span>
                          <span class="accordion-header-indicator"></span>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                          data-bs-parent="#accordion-one">
                          <div class="accordion-body-text">
                            <div class="row">
                              <div class="col-md-12 mb-3">
                                <label for="firstName" class="form-label">How did you hear about us?</label>
                                <h5 class="f-w-500">Lorem ipsum dolor sit amet consectetur. Non nulla nisi nulla facilisi nibh
                                  duis ante orci. Viverra cras suspendisse mus suspendisse proin
                                  facilisis quis blandit.
                                </h5>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <div class="accordion-header collapsed rounded-lg" id="headingEight" data-bs-toggle="collapse"
                          data-bs-target="#collapseEight" aria-controls="collapseEight" role="button" aria-expanded="true">
                          <span class="accordion-header-text">Registraton Details </span>
                          <span class="accordion-header-indicator"></span>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                          data-bs-parent="#accordion-one">
                          <div class="accordion-body-text">




                            <div class="row">
                              <div class="col-md-3 mb-3">
                                <label for="firstName" class="form-label">First Name (Arabic)</label>
                                <h5 class="f-w-500">Arabic FirstName
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Last Name (Arabic)</label>
                                <h5 class="f-w-500">Arabic Last Name
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Position (Arabic)</label>
                                <h5 class="f-w-500">Any Position
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">City (Arabic)</label>
                                <h5 class="f-w-500">Anay City
                                </h5>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3 mb-3">
                                <label for="firstName" class="form-label">Parking</label>
                                <h5 class="f-w-500">P# 03
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Row Number</label>
                                <h5 class="f-w-500">04
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Seat Number</label>
                                <h5 class="f-w-500">78
                                </h5>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="lastName" class="form-label">Linked in</label>
                                <h5 class="f-w-500">linkedin.com/abc
                                </h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <div class="accordion-header collapsed rounded-lg" id="headingNine" data-bs-toggle="collapse"
                          data-bs-target="#collapseNine" aria-controls="collapseNine" role="button" aria-expanded="true">
                          <span class="accordion-header-text">Actions</span>
                          <span class="accordion-header-indicator"></span>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-bs-parent="#accordion-one">
                          <div class="accordion-body-text">

                            <div class="row">
                              <div class="col-md-8 mb-3">
                                <label for="firstName" class="form-label">Gala Dinner</label>
                                <input type="text" class="form-control text-warning" placeholder="Pending">
                              </div>
                              <div class="col-md-4 mb-3 ">
                                <div class="dropdown">
                                  <br>
                                  <button type="button" class="btn btn-primary float-end dropdown-toggle"
                                    data-bs-toggle="dropdown">
                                    Attending
                                  </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Yes</a>
                                    <a class="dropdown-item" href="#">No</a>
                                    <a class="dropdown-item" href="#">Delegate</a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-8 mb-3">
                                <label for="firstName" class="form-label">Opening Ceremony</label>
                                <input type="text" class="form-control text-warning" placeholder="Pending" disabled>
                              </div>
                              <div class="col-md-4 mb-3 ">
                                <div class="dropdown">
                                  <br>
                                  <button type="button" class="btn btn-primary float-end dropdown-toggle"
                                    data-bs-toggle="dropdown">
                                    Attending
                                  </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Yes</a>
                                    <a class="dropdown-item" href="#">No</a>
                                    <a class="dropdown-item" href="#">Delegate</a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-8 mb-3">
                                <label for="firstName" class="form-label">Category</label>
                                <div class="mb-3">
                                  <select class="default-select text-danger form-control wide ">
                                    <option class="text-danger">VIP</option>
                                    <option>Others</option>

                                  </select>
                                </div>
                              </div>
                              <div class="col-md-4 mb-3 ">
                                <br>
                                <button type="button" class="btn btn-info float-end">
                                  Change</button>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-8 mb-3">
                                <label for="firstName" class="form-label">VIP Type</label>
                                <div class="mb-3">
                                  <select class="default-select text-danger frorm-control wide">
                                    <option>Additional VIP</option>
                                    <option>Others</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-4 mb-3 ">
                                <br>
                                <button type="button" class="btn btn-info float-end">
                                  Update VIP Type</button>
                              </div>
                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-xs btn-primary float-end"><i class="fa fa-edit"></i>
                                Change</button>

                              <button type="button" class="btn btn-outline-light " ><i class="fa fa-pause"></i>Hold</button>
                              <button type="button" class="btn btn-danger  " ><i class="fa fa-pause"></i>Reject</button>
                              <button type="button" class="btn btn-primary"><i class="fa fa-pause"></i>Approve</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <!--**********************************
                Content body end
            ***********************************-->
